body{
    background-color: bisque;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #dc285e;
    overflow: hidden;
    border-radius: 25%;
    border-bottom: 2px solid green;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-left: 15%;
    text-decoration:none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #c8e922;
    color: rgb(4, 10, 1);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0f8a3a;
    color: white;
  }
  img{
    height:600px;
    width:600px;
  }
  div.scroll-container {
    margin-top: 20px;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;

  }
  
  div.scroll-container img {
    padding: 10px;
  }
  footer{
    /* margin-bottom: 10px; */
    text-align: center;
  }